.column1 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 10px;
  height: 100px;
  background-color: #a6a6a6; 
  border: 5px solid grey;
}

.column2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 10px;
  height: 100px;
  background-color:#ffff; 
  border: 5px solid grey;
}

.footer {
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  font-size:14px;
  font-weight:bold;
  border: 5px solid grey;
  border-top:none;
}

.space{
margin:25px;
}